POSTGRES_USER=dj_user
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=appname

# Добавляем переменные для Django-проекта:
DB_ENGINE=django.db.backends.sqlite3
DB_HOST=db
DB_PORT=5432
DB_NAME=appname
DB_PASSWORD=mypassword
DB_USER=dj_user

DJANGO_DEBUG=True  # True во время разработки, False в продакшене
DJANGO_SECRET_KEY='django-insecure-mjf34s-yyc&pn+z8xs6%#'
ALLOWED_HOSTS=10.100.100.100,localhost,127.0.0.1,yourdomain.ru
CSRF_TRUSTED=https://yourdomain.ru,http://yourdomain.ru,http://localhost
